const tmi = require('tmi.js')

// put your bot username here
const USERNAME = ''
// put your Oauth key here (including the "oauth:" part)
const PASSWORD = ''

const CLIENT = new tmi.client({
  options: {
    debug: true
  },
  connection: {
    reconnect: true
  },
  identity: {
    username: USERNAME,
    password: PASSWORD
  },
  channels: ['#lanzo']
})

module.exports = CLIENT
